<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Página de Inicio - Recetas Populares</title>
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <th:block th:include="fragments/nav"></th:block>

    <div class="container mt-5">
      <header class="text-center mb-5">
        <h1>Recetas Populares</h1>
        <p>Explora las recetas más populares seleccionadas para ti.</p>
      </header>

      <!-- Sección de Recetas Populares -->
      <div class="row">
        <div th:each="receta : ${recetasPopulares}" class="col-md-4 mb-4">
          <div class="card">
            <img
              th:src="${receta.imagenUrl}"
              class="card-img-top"
              alt="Imagen de receta"
            />
            <div class="card-body">
              <h5 th:text="${receta.nombre}" class="card-title">
                Nombre de la receta
              </h5>
              <p th:text="${receta.descripcion}" class="card-text">
                Descripción de la receta
              </p>
              <p>
                <strong>Categoría:</strong>
                <span th:text="${receta.categoria}">Categoria</span>
              </p>
              <p>
                <strong>Valoración:</strong>
                <span th:text="${receta.valoracion}">4.5</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
